*{
    color:var(--main-color);
}
.errorBox{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.errorBox button{
    background-color:transparent;
    text-decoration:underline;
    font-size:1.4em;
    outline:none;
    border:none;
}
    .errorBox button:hover {
        color:var(--hover-color);
    }